<!DOCTYPE html>
<html>
<head>
  <title>Statusly</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if logged_in? %>
  <%= link_to "logout of #{current_user.username}", logout_path %>
  <%= yield %>
<% else %>
  <%= render 'login' %>
<% end %>

<%= yield :extra_scripts%>

</body>
</html>
